node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
package-lock.json

# Capturas datadas anexadas durante conversas não fazem parte do aplicativo.
attached_assets/Imagem_[0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]_*.png
